<%- include ("header.ejs") %>

      <form class="" action="/" method="post">
        <input type="text" name="to" value="" placeholder="Enter E-mail ID where you want to send">
        <input type="text" name="subject" value="" placeholder="Write Subject">
        <textarea name="content" rows="8" cols="80" placeholder="Write what you want to send..."></textarea>
        <button class="btn btn-lg" type="submit" name="submit">Send Mail</button>
      </form>


<%- include ("footer.ejs") %>
